@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Oswald);

body > *{
  /*font-family: Oswald !important;*/
}
body {
  /*font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;*/

  /*background:radial-gradient(ellipse cover, #F7F2F2, #FFF);
  background:-moz-radial-gradient(ellipse cover, #F7F2F2, #FFF);
  background:-o-radial-gradient(ellipse cover, #FFF, #D5D5D5);
  background:-webkit-radial-gradient(ellipse cover, #FFF, #D5D5D5);*/
  margin: 0px;
  padding: 0px;
  padding-top: 70px;  
  /*color: #FFF;*/
  text-rendering: optimizeLegibility;
  min-width: 320px;
  /*padding-top: 20px;*/ /* Se agrego para el menu fixed*/
}
.blur-background{
  background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url("../img/logo-menu.png") no-repeat fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -wenkit-background-size: cover;
  filter: blur(10px);
position: fixed;
    width : 100%;
    height: 100%;  
    margin: 0px;
    top: 0;
    left: 0;
}
.grid-section{
    background-color: #FFF;
    border: 1px solid #eaeaea
}
table > * {
    color: #252523 !important;
    font-family: Raleway;
}
header{
    font-family: Oswald !important;
}
.row{
  padding-bottom: 10px;
}
.row-banners img{
  min-height: 190px;
  max-height: 190px;
  height: 190px;
  width: 100%;
}
.row-banners2 img{
  min-height: 300px;
  max-height: 300px;
  height: 300px;
  width: 100%;
}
/*.banner > .item > a > img, .banner > .item > img{
  max-height: 190px;
  height: 190px;
  width: 100%;
}*/


.contacto, .nosotros{
  height: 325px;
  cursor: pointer;  
}
.contacto{
  background: rgba(0, 0, 0, 0) url("../img/CONTACTO-A.png") no-repeat scroll center center;
}
.contacto:hover{
  background: rgba(0, 0, 0, 0) url("../img/CONTACTO-B.png") no-repeat scroll center center;
}
.nosotros{
  background: rgba(0, 0, 0, 0) url("../img/SOBRE-NOSOTROS-A.png") no-repeat scroll center center;
}
.nosotros:hover{
  background: rgba(0, 0, 0, 0) url("../img/SOBRE-NOSOTROS-B.png") no-repeat scroll center center;
}

/* Modal */
.modal-header, .c-panel-header {
    background: #a4ddd8 none repeat scroll 0 0 !important;
    color: #fff !important;
    text-align: center;
}
.modal-body{
  color: black;
}
/* Fin Modal */

.h1-verde {
    background: #2db9b3 none repeat scroll 0 0 !important;
    border: medium none;
    color: #fff !important;
    font-family: Oswald;
    font-size: 48pt;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.h5-verde {
    background: #2db9b3 none repeat scroll 0 0 !important;
    border: medium none;
    color: #fff !important;
    font-family: Oswald;
    font-size: 14pt;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.rojo{
  color: red;
}
.form-group i{
  font-size: 20pt;
}
.i-rojo{
  color: red;
}
.i-rojo, .i-negro{
  color: red;
  font-size: 20pt;
}
.form-horizontal .control-label {
  padding-left: 20px;
  text-align: left;
}
.my-popover-content{
  display: none;
}
.popover-content ol{
  padding-left: 10px;
}  
.popover{
  max-width: 500px
}
footer{
    background: #2db9b3 none repeat scroll 0 0 !important;
    padding-top: 12px;
    vertical-align: middle;
}

*::-moz-placeholder, .help-block {
    font-size: 8pt !important;
    font-weight: lighter;
    text-transform: none;
}
